
.neraby-nurses-sec {
	.owl-carousel {
		.owl-nav {
			button.owl-prev {
				width: 45px;
				height: 45px;
				border-radius: 10px;
				background: #ffffff;
				border: 0;
			}
			button.owl-next {
				width: 45px;
				height: 45px;
				border-radius: 10px;
				background: #ffffff;
				border: 0;
			}
		}
	}
}
.top-nurse-sec {
	.owl-carousel {
		.owl-nav {
			button.owl-prev {
				width: 45px;
				height: 45px;
				border-radius: 10px;
				background: #F4F4F4;
				border: 0;
			}
			button.owl-next {
				width: 45px;
				height: 45px;
				border-radius: 10px;
				background: #F4F4F4;
				border: 0;
			}
		}
	}
}
